* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../../../../public/img/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Ajusta altura com base na altura da tela */
  z-index: -100;
}

h1{
  margin-top: 50px;
  font-weight: 200;
}

.tabela{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 200px;
  height: 30px;
}

/* container geral contendo todos os elementos */
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1920px;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
}

/* estilizar input */
input {
  max-width: 2040px;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  border: none;
  outline: none;
  color: dimgray;
}

/* container dos inputs */
.container-inputs{
  display: flex;
  justify-content: space-around;
  width: 900px;
}

/* deixar o label e cima do botao */


/* estilizar botao de adicionar usuarios */
#addUser {
  width: 150px;
  border: 0;
  padding-block: 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  background: rgb(64, 192, 87);
  border-radius: 3px;
  cursor: pointer;
}


/* Estilo para a tabela */
table {
    width: 100%; /* Faz a tabela ocupar toda a largura disponível */
    border-collapse: collapse; /* Remove os espaços entre as bordas das células */
    margin-top: 20px; /* Espaço acima da tabela */
  }
  
  /* Estilo para o cabeçalho */
  th {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto em branco */
    padding: 10px; /* Espaçamento interno */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  /* Estilo para as células de dados */
  td {
    border: 1px solid #ddd; /* Borda fina e cinza */
    padding: 8px; /* Espaçamento interno nas células */
    text-align: left; /* Alinha o texto à esquerda */
  }
  
  /* Estilo para as linhas alternadas */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor de fundo para linhas pares */
  }
  
  /* Estilo para o efeito de hover */
  tr:hover {
    background-color: #ddd; /* Cor de fundo quando o mouse passa sobre a linha */
  }
  